body{
  background-image: url("images/stripes-light.png");
  font-family: 'Lato', sans-serif;
}
.container{
  padding: 0;
  margin: 0;
}
.left{
  float: left;
  width: 100px;
  height: 1623px;
}
.main{
  position: relative;
}
.right{
  float:left;
  width: 100px;
  height: 1623px;
  position: relative;
}
.overTitle{

}
.title{
  font-family: 'Pacifico', cursive;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.title1{
  font-size: 350%;
  text-shadow: 0px 0px 14px rgba(0, 0, 0, .55);
}
.title2{
  font-size: 200%;
}
.sliderContainer{
  width: 100%;
  height: auto;
  display: flex;
}
.menu{
  background-color: #2b2a27fa;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.option{
  display: table;
  float: left;
  width: 20%;
  border-top: 2px solid #2b2a27fa;
  border-bottom: 2px solid #2b2a27fa;
  color: white;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.7px;
  font-size: ;
  transition: .5s ease-in-out;
  height: 4vh;
}
.optionS{
  display: table;
  float: left;
  width: 20%;
  height: 4vh;
  border-top: 2px solid #2b2a27fa;
  border-bottom: 2px solid #2b2a27fa;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.7px;
  font-size: ;
  font-weight: 900;
  opacity: .9;
  transition: .5s ease-in-out;
  background-color: white;
  color: #2b2a27fa;
}
.option > span{
  font-family: 'Lato', sans-serif;
  display: table-cell;
  vertical-align: middle;
}
.option:hover{
  font-weight: 900;
  background-color: white;
  cursor: pointer;
  opacity: 0.9;
  color: #2b2a27fa;
}

.optionS > span{
  font-family: 'Lato', sans-serif;
  display: table-cell;
  vertical-align: middle;
}
.slider{
  width: 100%;
  height: auto;
  background-color: black;
  border-top: none;
  border-bottom-left-radius : 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.slider > span{
  position: absolute;
  top: 50%;
  left: 50%;
}
.slider:hover > #prevBtn{
  opacity: 1;
}
.slider:hover > #nextBtn{
  opacity: 1;
}
#prevBtn{
  position: absolute;
  font-size: 72px;
  top: 50%;
  left: 5%;
  color: white;
  opacity: 0.7;
  cursor: pointer;
  z-index: 100;
}
#nextBtn{
  position: absolute;
  font-size: 72px;
  top: 50%;
  right: 5%;
  color: white;
  opacity: 0.7;
  cursor: pointer;
  z-index: 100;
}
.workspace{
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  margin-top: 25px;
  padding: 25px 50px 25px 50px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.footer{
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: #2f2e2b24;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 1%;
  border-radius: 5px;
}
.socials{
  text-align: center;
  margin-top: 2%;
  border-radius: 5px;
  width: 100%;
  background-color: #2f2e2b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  color: black;
}

.mail{
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
  padding-top: 15%;
}
.mail i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.fb{
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
  padding-top: 15%;
}
.fb i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.phone{
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
  padding-top: 15%;
}
.phone i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.mail:hover{
  cursor: pointer;
  background-color: #e91e1ed1;
  opacity: 0.9;
}
.fb:hover{
  cursor: pointer;
  background-color: #4668b3;
  opacity: 0.9;
}
.phone:hover{
  cursor: pointer;
  background-color: #4caf50;
  opacity: 0.9;
}
.infoLinker{
  padding: 3%;
  /*margin-top: 25px; /**dalczego margines tutaj nie działą ?, w sensie dla diva workspace*/
  margin-left: auto;
  margin-right: auto;
  border-top: 1px dotted #2f2e2b;
  /*border-radius: 5px;*/
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.infoLinker:first-child{
  border: none;
}
.infoLinker  .overlay  a{
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.infoLinker > .overlay > a > img {
  width: 100%;
  height: 100%;
  float: left;
  border-radius: 5px;
}
.Text{
  float: left;
  margin: 0;
  margin: 0 5% 0 5%;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 150%;
  width: 65%;
  height: 100%;
  line-height: 100%;
}
.Text a:hover  {
  text-decoration: none;
  color: #272621ab;
}

.Text span{
  display: block;
  margin-top: 2vh;
  font-size: 70%;
  font-weight: 400;
}
a{
  text-decoration: none;
  color: black;
}
.overlay{
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
}
.link{
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: #c5c5c5b8;
  opacity: 0;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.overlay:hover  .link{
  opacity: 0.7;
  color: black;
}
.icon{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
	font-size: 7vw;
}
.phoneS{
  visibility: hidden;
  width: 70%;
  text-align: center;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  border-radius: 5px;
}
.phoneText{
  display: contents;
  line-height: 30px;
  text-align: center;
  margin: 10px 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.phoneText:first-child{
  border-bottom: 1px solid black;
}
.sticky{
  margin: 0 25px;
  position: sticky;
  left: 0;
  top: 5vh;
}
#T1{
  font-size: 16px;
  font-weight: 500;
}
#T2{
  font-size: 18px;
  font-weight: 600;
}

.ov{
  width: 100%;
  height: 100%;
  position: relative;
  letter-spacing: 0.7px;
  font-size: 100%;
  padding: 0;
}
.ov a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.ov .link0{
  color: black;
  display: block;
  top: 80%;
  left: 0;
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: white;
  opacity: 0;
  transition: all .5s ease-in-out;
  padding-left: 1vh;
  padding-top: 0.5vh;
  letter-spacing: 1px;
  text-decoration: none;
}
.ov:hover .link0{
  opacity: 0.7;
  text-decoration: none;
}
.link0 > span{
  font-size: 150%;
  font-weight: 600;
}
.ov .link1{
  display: block;
  top: 80%;
  left: 0;
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: #2b2a27fa;
  opacity: 0;
  transition: all .5s ease-in-out;
  padding-left: 1vh;
  padding-top: 0.5vh;
  letter-spacing: 1px;
  color: white;
}
.link1 > span{
  font-size: 25px;
  font-weight: 600;
}
.ov:hover .link1{
  opacity: 0.8;
}
.ov .link2{
  display: block;
  top: 80%;
  left: 0;
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: #2b2a27fa;
  opacity: 0;
  transition: all .5s ease-in-out;
  padding-left: 1vh;
  padding-top: 0.5vh;
  letter-spacing: 1px;
  color: white;
}
.ov:hover .link2{
  opacity: 0.8;
}
.link2 > span{
  font-size: 25px;
  font-weight: 600;
}
.ov .link3{
  display: block;
  top: 80%;
  left: 0;
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: #2b2a27fa;
  opacity: 0;
  transition: all .5s ease-in-out;
  padding-left: 1vh;
  padding-top: 0.5vh;
  letter-spacing: 1px;
  color: white;
}
.ov:hover .link3{
  opacity: 0.95;
}
.link3 > span{
  font-size: 25px;
  font-weight: 600;
}
.ov a img {
  /*width: 100%;
  height: auto;*/
}
.sImg{
  height: auto;
}
